
<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/view-all-issues">View All Issues</a></li>
        <li><a href="/update-issue">Update Issue</a></li>
        <li><a href="/view-clients">View Clients</a></li>
        <li><a href="/update-client">Update Client</a></li>
        <li><a href="/add-clientgroup">Add Client Group</a></li>
        <li><a href="/view-clientgroup">View Client Groups</a></li>
        <li><a href="/update-clientgroup">Update Client Group</a></li>
    </ul>
</nav>
